
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h3{
    font-size: 35px;
    font-family: cursive;
    color: white;
    font-weight: bold;
    color: #fff; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 
                 0 0 15px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.4);
    animation: glow 1.5s infinite alternate;
}
body{
    min-height: 100vh;
    background: rgb(255, 106, 0);
    display: grid;
    place-items: center;
}
#container{
    background-color: rgb(95, 47, 12);
    max-width: 100%;
    width: 400px;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
}
#numbers, #extraButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
#extraButtons{
    margin-top: 1rem;
}
#screen{
    font-size: 2rem;
    color: white;
    grid-column: 1 /-1;
    text-align: right;
    padding: 1.5rem;
    font-family: monospace;
    font-weight: 450;
}
button:hover{
    background-color: orangered;
}
button{
    background-color: rgb(230, 142, 79);
    color: solid black;
    font-weight: bold;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}